{{# each products}}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://gpstatic.com/acache/36/46/1/uk/packshot-ca1a69ddcf47d3cd5d06383626e06d3b.jpg" alt="..."
                class="img-responsive">
            <div class="caption">
                <h3>Dark Souls Remastered</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint blanditiis, quae
                    odio doloribus neque
                    in nihil, ab a molestiae commodi rem, iste aspernatur! Voluptatem quos, aliquam dolore maiores
                    laudantium excepturi?</p>
                <div class="clearfix">
                    <div class="price pull-left">$39.99</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}



<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://gpstatic.com/acache/36/46/1/uk/packshot-ca1a69ddcf47d3cd5d06383626e06d3b.jpg" alt="..."
                class="img-responsive">
            <div class="caption">
                <h3>Dark Souls Remastered</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint blanditiis, quae
                    odio doloribus neque
                    in nihil, ab a molestiae commodi rem, iste aspernatur! Voluptatem quos, aliquam dolore maiores
                    laudantium excepturi?</p>
                <div class="clearfix">
                    <div class="price pull-left">$39.99</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://gpstatic.com/acache/36/46/1/uk/packshot-ca1a69ddcf47d3cd5d06383626e06d3b.jpg" alt="..."
                class="img-responsive">
            <div class="caption">
                <h3>Dark Souls Remastered</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint blanditiis, quae
                    odio doloribus neque
                    in nihil, ab a molestiae commodi rem, iste aspernatur! Voluptatem quos, aliquam dolore maiores
                    laudantium excepturi?</p>
                <div class="clearfix">
                    <div class="price pull-left">$39.99</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://gpstatic.com/acache/36/46/1/uk/packshot-ca1a69ddcf47d3cd5d06383626e06d3b.jpg" alt="..."
                class="img-responsive">
            <div class="caption">
                <h3>Dark Souls Remastered</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint blanditiis, quae
                    odio doloribus neque
                    in nihil, ab a molestiae commodi rem, iste aspernatur! Voluptatem quos, aliquam dolore maiores
                    laudantium excepturi?</p>
                <div class="clearfix">
                    <div class="price pull-left">$39.99</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>